.container {
    display: grid;
    max-width: 1400px;
    position: relative;
    margin: auto;
    grid-gap: 10px;
    grid-template-areas: "header header"
                         "nav nav"
                         "left right"
                         "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 5fr 0.5fr;
  }
  
  h1, h2 {
    font-family: monospace;
    text-align: center;
  }
  
  header {
    background-color: rgb(20, 56, 92);
    grid-area: header;
    font-weight: bold;
  }
  
  nav {
    background-color: rgb(143, 216, 235);
    grid-area: nav;
    align-content: space-between;
    justify-content: center;
  }
  
  .places {
    background-color: rgb(20, 56, 92);
    grid-area: left;
    justify-content: flex-start;
  }
  
  .photos {
    background-color: rgb(143, 216, 235);
    grid-area: right;
  }
  
  footer {
    background-color: rgb(20, 56, 92);
    grid-area: footer;
  }
  #t-travels {
    font-family: fantasy;
  }
  #where {
      font-family: fantasy;
  }
  #where-list {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
  }